{% extends 'main.html' %}
{% load my_filters %}

{% block title %}
    {{ detail_news.post_title|censor }}
{% endblock title %}
{% block css %}{% endblock css %}

{% block content %}
    <h2>{{ detail_news.post_title|censor }}</h2>
    <div class="small text-muted"><p>{{ detail_news.date_creation|date:'d M Y' }}</p></div>
    <hr>
    <p>{{ detail_news.post_text|linebreaks|censor|safe }}</p>

    <p><a href="{% url 'news:update' detail_news.url %}"><u>Редактировать</u></a></p>
    <p><a href="{% url 'news:delete' detail_news.url %}"><u>Удалить</u></a></p>

{% endblock content %}