{% extends 'main.html' %}
{% load my_filters %}
{% load i18n %}

{% block title %} News Search {% endblock title %}

{% block content %}
    <h2>{% trans "Последние публикации" %}</h2>

    <form method="get">
        <div>{{ filter.form }}
            <input type="submit" value="Поиск" class="btn btn-outline-secondary btn-sm" style="text-align: right"></div>
    </form>

    <a href="{% url 'news:subscribe' %}">{% trans 'Подписаться на рассылку' %} &raquo;</a>
    <hr>


    {% for new in filter.qs %}
        <h5><a href="{% url 'news:news_detail' new.url %}"><strong>{{ new.post_title|censor|safe }}</strong></a></h5>
        <div class="small text-muted"><p>{{ new.date_creation|date:'d M Y' }}</div>
        <table>
            <tr>
                {% if new.image %}
                    <td class="leftcol">
                        <img src="{{ new.image.url }}" alt="img" class="fig">
                    </td>
                {% endif %}
                <td class="rightcol">
                    {{ new.post_text|truncatechars:450|censor }}<br><br>
                </td>
            </tr>
        </table>
    {% empty %}
        <h5>По Вашему запросу статьи не найдены.</h5>
    {% endfor %}

   {% include 'include/pagination.html' %}

{% endblock content %}
