{% extends 'main.html' %}

{% block content %}
    <hr>


<form action="" method="post" class="form-input">
    {% csrf_token %}
    <h3><label for="category_name">Выберите интересующие категории:<br></label></h3>
    {% for category in categories %}
        {% if category in cat_sub %}
            <h6><label for="category_name">
                <input type="checkbox" value="{{ category.category_name }}" name="category_name" checked>
            </label> {{ category.category_name }}</h6>
        {% else %}
            <h6><label for="category_name">
                <input type="checkbox" value="{{ category.category_name }}" name="category_name">
            </label> {{ category.category_name }}</h6>
        {% endif %}
    {% endfor %}
    <p class="small text-muted">Каждую неделю мы будем присылать Вам подборку статей из выбранных категорий.</p>
    <input type="submit" value="Сохранить" class="btn btn-outline-info">
</form>
{% endblock content %}

