{% extends 'main.html' %}

{% block content %}
    <hr>


<form action="" method="post" class="form-input">
    {% csrf_token %}
    <h3><label for="category_name">Выберите интересующие категории:<br></label></h3>
    {% for category in categories %}
        <h6><input type="checkbox" value="{{ category.category_name }}" name="category_name"> {{ category.category_name }}</h6>
    {% endfor %}
    <br>
    <input type="submit" value="Подписаться" class="btn btn-outline-info">
</form>
{% endblock content %}

